<div class="container">
    <div class="row">
        <div class="col-md-5">
            <!-- Dibuja el Parcial del formulario -->
            {{> tasks/taskForm }}   
        </div>
        <div class="col-md-7">
            <!-- Dibuja el Parcial de una Tabla -->
            {{> tasks/taskTable }}
        </div>
    </div> 
</div>